.instructor-section {
    text-align: center;
}
.instructor-section h2{
    font-size: 48px;
    font-family: 'Pridi', serif;
}
.instructor-section span {
    color: #ffc107;
}
.instructor-section .card {
    border:none;
    padding-top: 30px;
    padding-bottom: 30px;
}
.instructor-section .divider {
    text-align: center;
    padding-top: 5px;
    width: 75px;
    border-top: 2px solid #9b1f1a;
    margin: auto;
    border-bottom: 2px solid #9b1f1a;
    margin-bottom: 10px;
}
.instructor-section .divider span {
    width: 75px;
    border-top: 25px solid red;
}
.instructor-section .our-goal-desc{
    width: 450px;
    margin: auto;
    font-weight: 500;
}