

.banner-container {
    background-image: url(../../images/header-bg.jpg);
    height: 500px;
    background-position: right;
    background-size: cover;
}
.banner-person img {
    width: 400px;
}
.banner-container .btn {
    border-radius: 50px;
    font-weight: bold;
}
.banner-container h1 {
    font-size: 70px;
    font-family: 'Pridi', serif;
}
.banner-container h2 {
    font-family: 'Shadows Into Light', cursive;
    font-size: 30px;
}
.banner-container span {
    color: #ffc107;
}