

.banner-container {
    background-image: url(../../images/header-bg.jpg);
    height: 650px;
    background-position: right;
    background-size: cover;
}
.banner-person img {
    width: 400px;
}
.banner-container .btn {
    border-radius: 50px;
    font-weight: bold;
}
.banner-container h1 {
    font-size: 70px;
    font-family: 'Pridi', serif;
}
.banner-container h2 {
    font-family: 'Shadows Into Light', cursive;
    font-size: 31px;
}
.banner-container span {
    color: #ffc107;
}
.slide-right {
    width: 100%;
    overflow: hidden;
    /* margin-left: 300px; */
    max-width: 200px
  }
  
  .slide-right {
    animation: 2s slide-right 0s forwards;
      transform:translateX(-100%);
  }
  
  @keyframes slide-right {
    to {
      transform:translateX(0);
    }
  }
.slide-left {
    width: 100%;
    overflow: hidden;
    /* margin-left: 300px; */
    /* max-width: 200px */
  }
  
  .slide-left {
      animation: 2s slide-right 0s forwards;
    transform: translateX(100%);
  }
  
  @keyframes slide-left {
    to {
      transform:translateX(0);
    }
  }